<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <% if(typeof otherStyleSheet !=='undefined' ) { %>
        <link rel="stylesheet" href=<%=otherStyleSheet %>>
        <% } else { %>
            <link rel="stylesheet" href="/styles/main.css">
            <% } %>
                <% if(!pageName) { %>
                    <title>Musicians Holding Slugs</title>
                    <% } else { %>
                        <title>
                            Musicians Holding Slugs | <%= pageName %>
                        </title>
                        <% } %>
</head>

<body>
    <nav>
        <a href="http://localhost:4000/">Home</a>
        <a href="http://localhost:4000/musicians">Musicians</a>
        <a href="http://localhost:4000/songs">Songs</a>
    </nav>