<%- include('./partials/headAndNav.ejs', { pageName: "404 Error" , otherStyleSheet: "/styles/404.css" }) %>
    <h1>This isn't a real URL, use the nav bar to go where you want.</h1>
    </body>

    </html>